<% if @recipes.empty? %>
  <p><strong>"<%= params[:word] %>"を含むレシピは見つかりませんでした</strong></p>
<% else %>
  <p><strong>"<%= params[:word] %>"を含むレシピが<%= @recipes.count %>件見つかりました。</strong></p>
<% end %>
<%= render "index", recipes: @recipes %>