<div class="container">
  <div class="row">
    
    <div class="col-md-3">
      <div class="list-group">
          <li class="list-group-item list-group-item-dark">タグ一覧（人気順）</li>
        <% @tags.each do |tag| %>
          <%= link_to tag.name, tag_recipes_path(tag_id: tag.id), class: "list-group-item list-group-item-action" %>
        <% end %>
      </div>
    </div>

    <div class="col-md-9">
      
              </div>
            <% end %>
          </div>
        </div>
      </section>
      </div>
  </div>
</div>
