/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #fffdfa;
}

#logo {
  font-family: 'Montserrat Subrayada', sans-serif;
  display: inline;
  font-weight: bold;
}

.nav-custom-color, .footer-custom-color {
  background-image: linear-gradient(188deg, rgba(255, 255, 181, 1) 29%, rgba(241, 251, 92, 1) 70%);
}

.hero {
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-size: cover;
}

.hero-content {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px;
  border-radius: 20px;
}
.navbar-brand img, .navbar-brand h1 {
  vertical-align: middle;
}

.recommended-recipe {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.fa-bookmark {
  font-size: 150%;
}

.fa-person-circle-question {
  font-size: 120%;
}

.bookmark-container {
  position: relative;
}

#bookmark {
  position: absolute;
  top: 1rem;
  left: 1rem;
}
