<div class="row">
  <div class="col-lg-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= @user.name %></h5>
        <%= link_to 'プロフィールを編集',  information_edit_users_path(@user), class: 'btn btn-primary' %>
        <% if @user.bookmarks.present? %>
          <p class="mt-5"><strong>ブックマークしたレシピはこちら</strong></p>
          <%= render "public/recipes/index", recipes: @recipes %>
        <% end %>
      </div>
    </div>
  </div>
</div>