
<div class="container">
  <div class="row">
    <div class="col">
      <p>© 2023 RecipeSite. All rights reserved.</p>
    </div>
    <div class="col">
      <ul>
        <li><%= link_to "退会したい方はこちら", confirm_users_path %></li>
      </ul>
    </div>
  </div>
</div>